
  <h1 *ngIf="loggedIn()">Well I guess it works !</h1>
  <button *ngIf="loggedIn()" class="btn btn-primary btn-block" (click)="logout()" href="#">Logout</button>

  <form *ngIf="!loggedIn() && !registerMode" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" class="form-control" />
      <div *ngIf="submitted && f.username.errors" class="mt-1 alert alert-danger">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" />
      <div *ngIf="submitted && f.password.errors" class="mt-1 alert alert-danger">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Login</button>
      <button class="ml-3 btn btn-secondary" (click)="register()">Register</button>
    </div>

    <div *ngIf="errorMessage" class="mt-1 alert alert-danger">
      <div>Username or password is not correct please try again!</div>
    </div>
  </form>

  <app-register *ngIf="registerMode" (cancelRegister)="cancelRegister($event)">RegisterMode</app-register>



